* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  overflow-x: hidden;
}

body {
  font-family: Barlow;
  font-size: 16px;
}

ul {
  list-style-type: none;
  display: inline-block;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
}

.background-grey {
  background-color: #eef3f6;
  position: absolute;
  left: 50%;
  width: 50%;
  height: 50%;
  z-index: -1;
  border-radius: 0 0 0 5rem;
}

h1 {
  font-family: "Barlow Condensed";
  color: #242942;
  font-size: 3rem;
  margin: 1rem 0;
  line-height: 1;
}

h2 {
  font-family: "Barlow Condensed";
  font-size: 1.2rem;
}

p {
  color: #5b5f71;
  font-weight: 700;
}

.navbar {
  position: relative;
  padding: 3rem 2rem;
}

.navbar li {
  margin-left: 3rem;
}

.navbar li:hover {
  text-decoration: underline;
}

.navbar li:nth-of-type(4) a {
  color: #a0a1ac;
}

.navbar a {
  color: #242942;
  font-weight: 700;
}

.navbar-button {
  cursor: pointer;
}

.hide {
  opacity: 0%;
}

.nav {
  position: absolute;
  top: 115px;
  width: 90%;
  background-color: white;
  padding: 20px;
  border-radius: 0.25rem;
  box-shadow: 0 2px 6px #a0a1ac;
  z-index: 1;
  transition: all 0.5s;
  overflow: hidden;
}

.nav ul {
  width: 100%;
}

.nav li {
  display: block;
  text-align: center;
  margin: 0 0 1rem 0;
}

.nav li a {
  font-family: "Barlow Condensed";
}

.nav li:nth-of-type(4) {
  border-top: 1px solid #a0a1ac;
  margin: 0;
  padding-top: 1rem;
}

.top-section {
  position: relative;
}

.top-section img {
  position: relative;
  width: 100%;
  right: -5%;
}

.bottom-section {
  margin: 6rem 3rem 0 2rem;
}

.bottom-section .center {
  width: 60%;
}

.bottom-section h1 {
  max-width: 500px;
}

.bottom-section header h2 {
  display: inline-block;
}

.bottom-section header h2:nth-of-type(1) {
  color: white;
  background-color: black;
  padding: 2px 10px;
  border-radius: 4rem;
  margin-right: 1rem;
  letter-spacing: 1px;
}

.bottom-section header h2:nth-of-type(2) {
  color: #a0a1ac;
  letter-spacing: 2px;
  font-family: "Barlow";
}

.bottom-section footer {
  margin-top: 2rem;
  width: 100%;
}

.bottom-section footer p {
  display: inline-block;
  letter-spacing: 3px;
}

.schedule {
  font-weight: 700;
  display: inline-block;
  background-color: #ff5c5c;
  padding: 10px 20px;
  border-radius: 0.25rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.schedule:hover {
  background-color: #ff7070;
}

.schedule a {
  color: white;
  letter-spacing: 1px;
}

.flex-container {
  display: flex;
}

.flex {
  flex: 1;
}

.flex-50 {
  flex: 1;
  flex-basis: 50%;
}

.flex-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.flex-desktop {
  display: none;
}

.float-right {
  float: right;
}

@media screen and (min-width: 1052px) {
  .navbar {
    padding: 4rem 10%;
  }
  .bottom-section {
    padding-left: 10%;
    margin-right: 0;
    margin-left: 0;
    margin-top: 3rem;
  }
  .bottom-section h1 {
    font-size: 4rem;
    max-width: 500px;
    margin-right: 0;
  }
  .flex-desktop {
    display: flex;
  }
  .mobile {
    display: none;
  }
  .flex-container-desktop {
    display: flex;
    flex-direction: row-reverse;
  }
  .top-section {
    margin-top: 3rem;
  }
  .top-section img {
    width: 120%;
  }
}
